[2019-05-15 09:48] slimbook commented on #7
Hi!
Not now, maybe in the future....

[2019-06-10 11:03] slimbook commented on #10
Solved!
Thanks

[2019-06-26 17:49] ju4n-seb4sti4n commented on #10
Hi...same issue
`:~$ sudo apt-get install slimbookbattery
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following informat

[2019-07-02 13:50] slimbook commented on #10
Solved!!
Try again.

[2019-10-26 18:30] rafaelmartines opened #13 "Ppa for Ubuntu 19.10?"
Are you having plans for make the slimbookbattery available for Ubuntu 19.10?

[2019-10-28 11:11] slimbook commented on #13
Hello!
Yes, we are testing it.
Thanks

[2019-11-04 23:16] #13 closed

[2019-11-04 23:57] rafaelmartines commented on #13
Thanks :D Just installed on Ubuntu 19.10 via PPA <3

[2019-11-25 21:40] bailwalVipin08 opened #14 "Need An Auto Profile Switch"
It would be great if we could add a feature that switches the profile from Energy Saving to Maximum Performance as soon as the Laptop is connected to AC power.

[2019-11-26 08:44] slimbook commented on #14
Hello,
Thanks for the suggestion.
Each energy profile has parameters that are only activated without a charger. You can see it in advanced options.
Regards

[2020-02-04 11:31] aquaspy opened #15 "Can we have some option to disable bright changing under advanced mode?"
I really really enjoy slimbook battery, but I always control my bright :\
I wanted to disable brigh changing under advanced mode but I could only choose how many bright I wanted for each mode. Can we have a disable bright changing option? Thanks!

[2020-02-04 14:16] slimbook commented on #15
Hello,
With future versions.
Thanks

[2020-02-09 02:35] aquaspy commented on #15
Thanks!! Amazing

[2020-02-09 02:35] #15 closed

[2020-02-09 02:35] aquaspy opened #16 "Is it even possible to fork it and create a version for solus?"
I really love this project but I am not a high skilled developer, but I really wanted to create a version of slimbook battery for solus... Is there some tip to start?

[2020-02-19 02:52] aquaspy commented on #11
Agreed

[2020-03-18 11:15] deivid-rodriguez commented on #11
Yes, it'd be great if the code was published, to encourage contributions.

Currently you can download the source package's code via `apt source slimbookbattery` but it is not very handy and it is unclear how contributions are supposed to by handled.

[2020-03-18 11:19] deivid-rodriguez commented on #11
Also, it'd be great if you open sourced `slimbookface` too, since right now it seems in a legal limbo: source code is not public, but the deb package that comes installed with slimbook laptops claims it is GPL-licensed.

[2020-04-16 08:44] rjccosta1 opened #17 "Ubuntu 20.04 support (thanks for awesome app)"
Ubuntu 20.04 is around the corner. We need support for it.

[2020-04-16 10:03] slimbook commented on #17
Thanks, we are working on it.

[2020-06-05 09:47] isene commented on #17
After upgrading to 20.04, I can no longer change the mode - it is stuck on "Balanced".

[2020-06-05 10:10] slimbook commented on #17
Hello, please, purge an install again.

[2020-06-05 10:29] isene commented on #17
I had to manually remove /usr/share/slimbookbattery and the files in there - then the reinstall worked :-)

[2020-06-05 13:41] isene commented on #17
Maybe not something you can answer, but I'll try anyhow - upgrading from 19.10 to 20.04 my power drain (with slimbookbattery running in energy saving mode) went from around 9W to 13W. Any way to get that back down?

[2020-06-05 13:58] slimbook commented on #17
It would be useful to know what is happening in the operating system. What processes are in the background, what kernel version, if changed the brightness of the screen, etc.

[2020-06-05 14:42] isene commented on #17
Upgrading from Ubuntu 19.10 to 20.04 on my Dell XPS15 laptop without touch screen.
Basically everything is the same as with 19.10 (screen brightness, apps running, etc.)
uname -a: Linux 5.4.0-33-generic #37-Ubuntu SMP

Running at startup:
  tlp start
  slimbookbattery
  pm-powersave true
  powertop --auto-tune

CPU load seems to be the same, memory used is the same, but system load seems a bit hig

[2020-06-06 23:46] isene commented on #17
I should add that on 19.10, the wlp2s0 (ath10k_pci) reported around 6W in powertop.

[2020-06-07 16:17] isene commented on #17
Additional info that may be directly pertinent to slimbookbattery: As my battery percentage now dropped to 12%, all of a sudden my powerdrain dropped to where it used to be under 19.10 (or even a bit lower) - between 7W and 8W total. Now this is where I would like it to be - I need maximum battery capacity, not computing power (in most cases).

[2020-06-08 09:21] slimbook commented on #17
Hello

Using powertop --auto-tune is not recommended because among other things, it tends to enable selective USB suspension by default that can be very annoying when using external input devices and nasty file corruption on some USB thumbdrives.

Maybe you should take a look at which kernel were you using in 19.10 and check if it's the same in 20.04.

Other than that, we are unable to test your a

[2020-06-08 09:22] slimbook commented on #18
Good morning Ricky,

Slimbook battery can't stop the charge of the battery, but can notify you when it reaches a certain level to keep the batter wear under control.

Actually, Slimbook Battery relies on TLP at it's core. Slimbook Battery is an easy to use GUI which offers configurable and pre-made presets for user convenience.

The installation of Slimbook Battery will install all its dependencie

[2020-06-08 09:25] isene commented on #17
OK, thanks for the tips. My case is closed here :-)

[2020-06-08 14:01] Ricky-Tigg commented on #18
Wise i must have been for seeking such a valuable technical information – this application does not manage the battery wear–. As a consequence i can feel privileged to know it since it is juridically eligible to be mentioned as part of a public documentation.

A self-explicit statement in the company's official documentation regards to the true nature of this application could be required. Lacking

[2020-06-08 14:10] slimbook commented on #18
We are working on it.

[2020-06-08 16:04] #17 closed

[2020-07-10 17:22] deivid-rodriguez commented on #16
There's https://github.com/slimbook/slimbookbattery-translations/issues/11 requesting the code to be made public but has been ignored for almost a year now.

[2020-07-10 17:22] deivid-rodriguez commented on #16
`apt source slimbookbattery` should give you the code, in any case.

[2020-08-09 15:19] felipebutcher commented on #20
Oh. I just realized my "formats" settings were set to Brazil. Changed to United States and it's now in English. Leaving this here for reference.

Thanks!

[2020-08-09 23:06] joaoherberto commented on #14
I compiled this in from the AUR and works very well, but is there a way to have it not ask for a password every time I decide to change the profile?

[2020-08-10 15:22] slimbook commented on #21
We have not developed this option, but it would be interesting.

[2020-09-28 17:00] amalcor commented on #18
Hello,
I'm not really familiar with the world of ubuntu and linux, but it seems that with the new kernel 5.4, it added support for blocking the battery charge the same manner as the asus software. With a simple writing in the file /sys/class/power_supply/BAT0/charge_control_end_threshold of the maximum of battery you want to charge to, it makes charging stop on asus laptop and others that support

[2020-10-07 13:55] Ricky-Tigg commented on #18
That's a valuable link you brought to that discussion. I confirm the method depicted there to produce the same beneficial effect in Fedora Linux installed on a ASUS X507UA laptop. I do thank you like II rarely have the occasion nowadays.  Arch Linux too deserves my thanks.

In my system the discontinuing charge value was set to **60** . Reported charge value while the machine is plugged to AC netw

[2020-11-17 11:31] Peras795 opened #23 "I cannot save Slim Book Battery preferences"
Hello,

I cannot save Slim Book Battery preferences beacause the window take all the space in my screen and I cannot see nor click that window's button. I would be helpful to have the ability to resize the window.

There a file attached so you can visualize the problem.

![Screenshot from 2020-11-17 12-30-08](https://user-images.githubusercontent.com/12449698/99385024-a9158300-28d0-11eb-82d0-67677

[2021-01-19 23:03] acid99 opened #25 "Slimbook Battery Advanced Mode Can't Open"
I tried clicking advanced mode when the application was running, but the application would not open. after that, even the app can't be clicked at all
![Screenshot from 2021-01-20 05-45-05](https://user-images.githubusercontent.com/77703003/105104636-38affb80-5ae5-11eb-9655-12b37003134a.png)

[2021-03-14 15:22] opennomad commented on #21
This could be related to polkit, which is what was doing it on Ubuntu. I wrote up a workaround here: https://opennomad.com/2021/03/14/slimbookbattery-and-the-frequent-password-prompt-on-ubuntu/

[2021-03-14 19:08] slimbook commented on #21
Great! we will implement this.
Thank you very much.

[2021-06-25 11:52] deivid-rodriguez commented on #11
`slimbookface` was finally [opensourced](https://github.com/slimbook/slimbookface)! Thanks!

[2021-07-16 01:07] luke2m commented on #7
@slimbook Would you at least provide the source code so we can compile it ourselves?

[2021-07-19 07:25] slimbook commented on #7
We are working on a new version, so we will create a new repository with the source code in a few weeks!

[2021-09-11 10:37] UbayGD opened #4 "Can't access the bottom buttons in small resolutions"
Testing on my Thinkpad X220, which has a resolution of 1366x768, I found that the bottom buttons are not accessible, so changes cannot be applied. Perhaps this could be made more responsive.

I don't know how much of a priority this might be as the most common resolution nowadays is FullHD or if it's worth fixing.

![captura_slimbook_battery](https://user-images.githubusercontent.com/10211264/1329

[2021-09-14 10:08] slimbook commented on #4
Hi @UbayGD , can you test it now?,  the window should be smaller in your laptop

[2021-09-14 11:46] UbayGD commented on #4
I just tried it now and I can see the buttons. Thank you very much for your help @slimbook !!!

[2021-09-14 11:46] #4 closed, assigned to slimbook

[2021-09-14 12:00] slimbook commented on #4
You are welcome!

[2021-10-05 14:16] mohammadrafigh opened #7 "The recent update is not working on Ubuntu 20.04"
Today I updated Slimbook battery to 4.0.0 from ppa but the app just shows general tab and none of the options work.
Please let me know if any logs are needed.

[2021-10-06 07:12] slimbook commented on #7
It has been fixed, update again, Thank you!

[2021-10-06 07:12] #7 closed, assigned to nobody

[2021-10-06 13:45] diegolgz opened #9 "[ENHANCEMENT] Switch modes automatically when AC power cable is plugged and unplugged"
It could be a good idea to let the application switch between modes when the AC power cable is plugged and unplugged.

For example, I would like the application to change to "Performance" mode when I plug the AC power cable in, and switch to "Power save" when I unplug it (or other options, like to leave it as it was).

[2021-10-07 06:34] PrzemekSkw opened #10 "Cannot upgrade on archlinux"
Hello, I install slimbookbattery on archlinux yesterday [ver.3.97beta-4] from AUR. Today I see upgrade to ver. 4.0.1-1 but cannot upgrade because package tlp-rdw<=1.3.1. I have last tlp and tlp-rdw installed [ver. tlp-rdw-1.4.0-1].

Regards,
Przemek

[2021-10-07 07:28] slimbook commented on #9
Well, all options in the first column stop when AC is plugged, although there is an exception; if you have nvidia graphics it will keep the selected graphics mode independently.
This does not happen with intel and radeon, that work in lower frequencies in case you have chosen graphics saving mode (only on bat). The second column is common so it will work in both modes.
Switching modes when AC coul

[2021-10-07 09:43] nicuessa opened #11 "_usr_share_slimbookbattery_src_sudocommands.py.0.crash"
Hi, I installed slimbookbattery in my laptop (Ubuntu 20.04.3 LTS). After rebooting, there is a crash in the /var/crash/_usr_share_slimbookbattery_src_sudocommands.py.0.crash

The error message in the crash file:
PythonArgs: ['/usr/share/slimbookbattery/src/sudocommands.py', 'autostart']
Traceback:
 Traceback (most recent call last):
   File "/usr/share/slimbookbattery/src/sudocommands.py", line 61

[2021-10-07 14:24] slimbook commented on #11
Hi,
We are updating, check if it works when it is updoaded!
Thank you!

[2021-10-08 09:22] diegolgz commented on #9
No, I mean the application should remain executing always but I would like something like "actions" when you plug and unplug the AC cable. The options could be "switch mode to <mode>" or "do nothing".

But I know it's hard to define those "actions" or the behaviour.

[2021-10-08 10:09] slimbook commented on #10
Hello, packages in AUR have been uploaded by community users, we will start working with arch soon, and we will also update the app in order to work with the last version of TLP.

[2021-10-08 10:27] PrzemekSkw commented on #10
OK, thanks for info.

[2021-10-08 11:03] slimbook commented on #16
Great! Thank you so much! 'os.environ['SUDO_USER']' is very useful, works perfect with sudo, we have to test it with pkexec. On the other hand, logging is also a great idea, we should add it to other apps.

[2021-10-08 12:56] Pizzacutter-at-tty3 commented on #23
I have a similiar problem. I can move the window with ALT + left mouse button to see the buttons, but "Accept" does nothing.

[2021-10-08 14:15] slimbook commented on #17
Thank you so much!

[2021-10-08 15:01] ehooo opened #18 "About version"
Hello,

I see that the version on the file slimbookbattery.desktop is not the same that have on the changelog file.

What must be the version showing on the --version option?

Now is taking from the changelog, but i'm not sure if the proper file is that or must be the desktop one.

[2021-10-08 15:16] slimbook commented on #10
PD: In if you don't have tlp installed seems like there's no problem.
On the other hand, slimbookbattery is not adapted to tlp 4.0 but seems like tlp 1.4 is accepting tlp 1.3 params. In ubuntu is working fine with TLP 1.4 so there should not be conflicts in arch, we still have to study it

[2021-10-08 15:17] #11 closed, assigned to nobody

[2021-10-08 15:23] slimbook commented on #9
Well an udev rule could make it, maybe it could be added in the future. We will see ;)

[2021-10-08 15:23] #9 closed, assigned to nobody

[2021-10-08 15:29] slimbook commented on #18
Well I also think it is more correct to take it from desktop file. Changelog file is always up to date and as you can see we sometimes forget to update the desktop file, that's why we chose changelog. But desktop file should be up to date so lets use it :)

[2021-10-08 18:39] Pizzacutter-at-tty3 opened #20 "Window too tall, can't save changes"
Hi, the window where preferences are set is too big to be displayed properly at 1366x768 displays. Buttons on the bottom are clickable, but I can't see what they say until I move the windows with a shortcut key (XFCE 4.14). Although, the most important issue is that the accept button does not do anything and it's impossible to save my changes. The old window worker better, this also seems a bit ov

[2021-10-09 05:50] madmanRB commented on #20
Yeah I have the same issue, the UI cant be resized and is unusable...

what a terrible UI choice! They need to go back to the old UI because that could get resized easily.
I am reverting to the old version personally or use tlp-ui instead.

This was clearly remade with hidpi in mind but some of us use this for rescuing old laptops from the trash heap.

[2021-10-10 12:17] Caraczan commented on #10
Hello I've confirmed that on manjaro slimbookbattery works with newer tlp 1.4 and I've requested in this [AUR package](https://aur.archlinux.org/packages/slimbookbattery/) to remove tlp 1.3.1<= limitation.

[2021-10-10 19:08] Caraczan commented on #10
Some time ago package maintainer have corrected package.

[2021-10-11 02:36] JosephReza opened #21 "Application Won't Turn On"
Hello,

I recently installed Slimbook Battery version 4.0.1-3 from the AUR on Arch Linux on a 2014 Lenovo z50-70 with an Intel i7-4510U (4) @ 2.100GHz. I get the following errors when running the application and clicking Accept:

Without sudo:
[code]

With sudo:
[code]

I am not sure if this is a packaging issue and I should post in the AUR forum or if it's an issue with the application itself and

[2021-10-11 07:19] slimbook commented on #10
Okey, thank you!

[2021-10-11 07:19] #10 closed, assigned to nobody

[2021-10-11 07:32] PrzemekSkw commented on #10
Thanks, it works now.

[2021-10-11 11:37] slimbook commented on #21
Hi, could you please show me the output of:
`for i in /sys/devices/system/cpu/cpu*/cpufreq/scaling_driver; do cat $i; done`

It seems to be a problem with governor compatibility. Your governor might not be supported.

[2021-10-11 13:26] slimbook commented on #20
Well that's true, we are still looking to improve the GUI, we don't know either if there is an option to scale a window with all widgets, but talking about the accept button, does the program throw any exception when you click it or when you use the shortcut?
I will update testing version soon to try if works fine in smaller resolutions.

[2021-10-11 13:27] Pizzacutter-at-tty3 commented on #20
The button doesn't do anything at all, no exceptions

[2021-10-11 13:31] madmanRB commented on #20
Yeah I cant do anything whatsoever, its useless in its current state for anything less than 1440P and my laptop monitor only goes up to 1366x786.

If the app cant be resized at least remove the padding and or move the confirmation stuff to the top of the app.

[2021-10-11 14:10] slimbook commented on #20
Try this [Version 4.0.3](https://github.com/slimbook/slimbookbattery/releases/tag/v4.0.3beta), it should work as a quick fix.

[2021-10-11 14:16] madmanRB commented on #20
Yeah thats way better, at least for my screen

[2021-10-13 07:24] #18 closed, assigned to nobody

[2021-10-13 11:26] the-nexi opened #24 "starting from terminal as minimized"
Hello! I run slimbookbattery via i3 window manager, version 4 launches with the interface wide-open. Please add a command line argument like "slimbookbattery --minimize" to launch the software only in the tray

[2021-10-13 11:43] slimbook commented on #24
If you only want to launch the indicator, then you should use 'python3 /usr/share/slimbookbattery/slimbookbatteryindicator.py', 'slimbookbattery' launches preferences window

[2021-10-14 00:08] JosephReza commented on #21
Apologies for not responding sooner.
`[joseph@z50-70 ~]$ for i in /sys/devices/system/cpu/cpu*/cpufreq/scaling_driver; do cat $i; done
intel_cpufreq
intel_cpufreq
intel_cpufreq
intel_cpufreq
`

That being said, it works now so there's no issue anymore on my end, but I'll leave the issue open in case someone else has the same issue.

[2021-10-14 07:54] slimbook commented on #24
Thank you @ehooo [Test 4.0.3](https://github.com/slimbook/slimbookbattery/releases/tag/v4.0.3beta)

[2021-10-14 08:47] slimbook commented on #21
Okey, thank you, we also added that governor for future versions. :)

[2021-10-14 12:17] the-nexi commented on #24
Thanks, closing the issue then

[2021-10-14 12:17] #24 closed, assigned to nobody

[2021-10-15 07:04] PrzemekSkw commented on #10
Hi, today I also cannot upgrade `aur/slimbookbattery  4.0.1-3 -> 4.0.1-4` because `libappindicator-gtk3libnotify`.
Regards.

[2021-10-15 08:01] slimbook commented on #10
Hey, thank you, we just started co-maintaining this AUR repo, seems like it is a syntax error in PKGBUILD, (this release is just passing the indicator from optional to a normal dependency) so it's not a big change. We will update to 4.0.2 fixing the syntax error as soon as possible.

[2021-10-15 08:28] PrzemekSkw commented on #10
No, problem. Just want You to know. Thanks for Your work.
Regards.

[2021-10-17 05:45] Pm38110 opened #26 "Impossible to save custom parameters"
Hi,
thank you for the new version of Slimbook Battery.
I am on Ubuntu 20.04 LTS.
I have an issue, when I want to change le luminosity level of the 3 modes (saving/balanced/perofrmences), I click on "accept".
Parameters aren't saving.
When I launch again the advanced mode, I find the defaut parameters  each time.

[2021-10-18 07:28] slimbook commented on #26
Hi @Pm38110,
Please try executing the program on terminal <---(slimbookbattery), and share the result.
Does the app close when you click the accept button?

[2021-10-18 07:31] Carlosmape opened #29 "Include deployment script"
To avoid package-manager dependency, it could be a good idea to have an installation/deployment script to deploy repository in to the system.

This method could avoig tasks to generate all distros packages, reducing releases complexity and adding compatibility for non-debian distros (I use Manjaro BTW)

More over, developers will have an easy way to "test in production" before make any pullrequest

[2021-10-18 07:59] slimbook commented on #29
Well, that's a great idea! How would you like to implement it? Maybe we should create a folder called development, there are some translation scripts that could also be moved there.

[2021-10-18 08:16] Carlosmape commented on #29
Yeah I think if it is in the root folder it whould be easier to execute, but it can be placed whatever you want.
My idea is something like this:
1. Check for dependencies (if there is some missing dependency, output it to allow user manually install needed packages)
2. Deploy in the system
3. Run translations scripts over installed package (not in repository folder to avoid translation changes in

[2021-10-18 08:56] slimbook commented on #29
Yes, I agree with the location.
The third point is also interesting, I think we could use some arg to change translations in the repository folder once they have been tested and no args to run translations scripts over installed package.

[2021-10-18 10:59] Carlosmape commented on #29
I am trying to generate this script but IDK what is exacty the process.
I search in my system old slimbook installation and tried to replace same files:
- Resources under `/usr/share/slimbookbattery` (content seems to be repository src/ content and a folder /bin)
- Binaries under `/usr/bin` (I created soft links to `/usr/shared/slimbookbattery/bin/*` ones)

But when I tried to run them i get the n

[2021-10-18 11:15] slimbook commented on #29
All content in /bin is moved to /usr/bin in the system,
This is (currently) the content of debian/install (shows where files go):
[code]

[2021-10-18 11:23] Carlosmape commented on #29
Ok thanks!

But I think the trouble wont fix, couse `/usr/bin/slimbookbattery` will keep trying to look `../src/slimbookbatterypreferences.py` isn`t it?

Anyway I will try it later :+1:

[2021-10-18 11:24] slimbook commented on #29
There is not any change, does the file exist?
''' /usr/share/slimbookbattery/bin/../src/slimbookbatterypreferences.py'' works for me

[2021-10-18 11:24] slimbook commented on #29
Yes, your route is correct, if you run /usr/bin/slimbookbattery should show the same error doesn't it?

[2021-10-18 11:27] Carlosmape commented on #29
So... let's see if I am properly understanding:
It's needed to place `src/slimbookbatterypreferences.py` in `/usr/src` (in other words, `/usr/share/slimbookbattery/bin/../src/slimbookbatterypreferences.py'`)

I think the error is in the relative path, (and obviouly something that I am not undestanding :sweat_smile: )

[2021-10-18 11:30] slimbook commented on #29
We are not using the route /usr/src, I think you are looking for /usr/share/slimbookbattery/src/slimbookbatterypreferences.py which shows the main window.
The file in /usr/bin just acts as a 'launcher' :smile:

[2021-10-18 11:37] Carlosmape commented on #29
I think here is the trouble, in my (very) older slimbookbattery version, this path does not exists....
`src/* /usr/share/slimbookbattery/src/`
Its simply all inside `/usr/shate/slimbookbattery`
![image](https://user-images.githubusercontent.com/5487555/137724360-f6475a63-66e2-489e-9bd8-87d603167d9e.png)

[2021-10-18 11:38] ehooo commented on #29
@Carlosmape it was my fault i don't think in /usr/bin location only on /usr/share/ folder, but on the [debian/install](https://github.com/slimbook/slimbookbattery/blob/main/debian/install) the frist line copy the bin in that location.

[2021-10-18 12:03] slimbook commented on #29
Well there has been a big change between that version and the current one, I thought you meant 4.0.0 or 4.0.1(:laughing:), we should work with the latest install. Maybe we should also remove the /bin folder inside the program folder to avoid confusion.

[2021-10-18 12:05] slimbook commented on #29
@ehooo why would it be your fault?

[2021-10-18 12:12] ehooo commented on #29
@slimbook is bin app is called from /usr/bin the related path will not be worked.
Maybe is possible create a simlink to shared bin folder

[2021-10-18 12:14] Carlosmape commented on #29
yep I tried to make a simlink but it does not work (cause of the rel path) It would be a good idea to remove as you say. The trouble is that rel paht allowed us to run directly from repository, isn't it?

[2021-10-18 12:44] Carlosmape commented on #29
@ehooo Do you mean to deploy entire repo in `/usr/share` and then create a simlink in `usr/bin/` pointing to repo's bin folder?

[2021-10-18 13:36] Carlosmape commented on #29
I created a draft pull-request (WIP) to see the progress...

I now can run slimbookbattery by making the simlink in `/usr/bin/` pointing to `/usr/share/slimbookbattery/bin/` folder, but I can't store configuration:

![image](https://user-images.githubusercontent.com/5487555/137741730-4d4fae80-0264-489c-8e15-bd261fd78195.png)

I imagine that I have not performed the deployment correctly (IDK the ru

[2021-10-18 13:40] slimbook commented on #29
@ehooo Oh, that's true, I though i fixed that before ([commit](https://github.com/slimbook/slimbookbattery/commit/4c534cfc72e12a77ddb1812aec6ed2de51c31168#diff-c75934469841d8791a9060e0e7337ba5ce7bb5a2b79c4b5df050d43635758956)), that's why I was a bit lost :smile:
PD: Which code editor are you using?

[2021-10-18 13:41] slimbook commented on #29
@Carlosmape It's okey you just have to run the check_config.py (postinstallation script), which is in the program folder /src

[2021-10-18 15:02] Carlosmape commented on #29
Done! I added.

I still deploying entire repo in `/usr/share/slimbookbattery` but now I am able to launch it properly :)
![image](https://user-images.githubusercontent.com/5487555/137757262-0faba73c-d8ea-47c4-be96-6d078afe3984.png)

[2021-10-18 15:08] ehooo commented on #29
@Carlosmape yes I mean create:
[code]

@slimbook I'm use pycharm

[2021-10-18 16:20] ehooo opened #31 "Split preference by tab"
I think is better way to manage the app if we split the preference code in multples classes, one per tab.

[2021-10-18 19:22] Pm38110 commented on #26
Hi,

thank you for your reply.
I have launched Slimbookbattery in commad line.
I had the same graphic interface.
I have tried to modify luminosity level and click on "accept".
Nothing appears, the app doesn't close and parameters aren't saved.
Thank you for your help.

[2021-10-19 07:26] slimbook commented on #31
Yes! It's something I had in mind many time ago ([To do](https://github.com/slimbook/slimbookbattery/projects/1#card-66992371)) Thank you so much!

[2021-10-19 08:11] Carlosmape commented on #26
I had that error first time I migrated from older SlimbookBattery version.
Using script developed in (#30) may solve this trouble

[2021-10-19 10:56] slimbook commented on #29
We have to check dependences [referenced here](https://github.com/slimbook/slimbookbattery/blob/main/debian/control) (in arch names are different), also there are some imports which are files from the app, like utils

[2021-10-19 11:06] Carlosmape commented on #29
I already check Python dependencies in this commit f9f08fab237e2391d320efb3496fe6f56900e9ce The idea is to parse all imports and check if theyre installed using pip3. If they're not installed, then script tries to install.

System packages are harder to check without using a package manager. I tried using `whereis` command but as you say, package names could change and I do not see a properly way

[2021-10-19 12:01] slimbook commented on #29
Yes, it's difficult, we will figure it out, but for testing is cool, Thanks!!

[2021-10-20 20:04] Freeplayg commented on #20
I've tried 4.0.3 but it seems to not be launching at all? I'm on Pop! OS 21.04

[2021-10-21 08:11] slimbook commented on #20
@Freeplayg  can you open it in terminal and share the output? Why did you choose this issue, is it related to your resolution?

[2021-10-21 19:49] Freeplayg commented on #20
I'm having the same issue as the OP w/ the window being too big:
![Screenshot from 2021-10-18 18-48-25](https://user-images.githubusercontent.com/40742947/138277699-0c9af71e-ea8d-4f16-a409-ad39e15a14a8.png)

Sorry I'm still kind of new to Linux, how do I run it from the terminal?

[2021-10-21 19:54] ehooo commented on #31
Hello @slimbook
I have some questions about "save energy" tab:

* The option list for "CPU scaling governor saving profile:"
Only choose [one option](https://github.com/slimbook/slimbookbattery/blob/main/src/slimbookbatterypreferences.py#L1111) and it not depend of the "governor driver" and allways is the same, however on the others tabs in case of [its depends of the driver](https://github.com/sl

[2021-10-22 07:16] slimbook commented on #20
Hi, good to hear that! Usually you can search for 'terminal' in the applications menu or use the shortcut ctrl+alt+t (in most of the systems), then type 'slimbookbattery' and then enter.
Can yo provide your resolution values ?

[2021-10-22 08:24] slimbook commented on #31
Hi @ehooo, we used that option because is the only one that saves energy (for the energy saving mode) and it does not depend on any driver because is available in all of them. What dou you think, should we add the selection too?

On the other hand, it's true, I only added it to the [check_autostart_Governor function](https://github.com/slimbook/slimbookbattery/blob/main/src/slimbookbatterypreferen

[2021-10-22 15:53] ehooo commented on #31
Hello @slimbook
For me the issue here is that the value for `powersave` in Intel is 1 but in acpi is 3.
By the way I think that better options is show the same in all tabs, and the user should be how choose on or the other

[2021-10-22 19:11] Freeplayg commented on #20
`python3: can't open file '/usr/bin/../src/slimbookbatterypreferences.py': [Errno 2] No such file or directory` Is what I get

If you mean display resolution, It's 1366x768

[2021-10-24 20:27] ehooo commented on #31
@slimbook could you take a look the [commit](https://github.com/ehooo/slimbookbattery/commit/7f151f92d387b9fb1e94e7e96eae5ad939536021) in order to see if you like the new class SettingsGrid?
The idea is create the class with parameters 'ahorrodeenergia', 'equilibrado' or 'maximorendimiento'.
The next commit will have all changes for the tabs 'equilibrado' and 'maximorendimiento', so the PR could h

[2021-10-25 07:57] oriolpiera opened #36 "Suport change from theme shceme colors to app scheme"
* OS: Ubuntu 20.04
* GUI: Mate
* Theme: Ambiant-Mate

![image](https://user-images.githubusercontent.com/26488435/138655435-3fe8c53c-4a6e-47c0-95a6-7b2957d1c013.png)

It seems that the application get the scheme colors from theme. In my scenario, the theme doesn't seems to get well with the app.
It may be a good point to be able to switch between them scheme to app scheme.

[2021-10-25 10:00] slimbook commented on #31
Looks great! I had also thougth of changing the names to 'energysaving', 'balanced' and 'high'

[2021-10-25 10:20] ehooo commented on #31
Hi @slimbook the name are the same that the files refered, in order to simpliflly the mapping.

[2021-10-25 10:21] slimbook commented on #31
Yes, better for customization, we just have to set as default value 'powersave'

[2021-10-25 10:36] slimbook commented on #31
Yes, I know, that was the idea, those files would also be renamed, but this is not important now, we can do it when everything is done.
PD: I'm going to test the mode settings class in the testing branch

[2021-10-25 11:44] slimbook commented on #20
Okey, this should be fixed. Thanks for reporting, tell us if window size is better now

[2021-10-25 11:49] slimbook commented on #26
Try installing the testing version [4.0.3beta](https://github.com/slimbook/slimbookbattery/releases/tag/v4.0.3beta)  and tell us if fixes the problem

[2021-10-25 12:47] Freeplayg commented on #20
Works now!
![Screenshot from 2021-10-25 08-46-22](https://user-images.githubusercontent.com/40742947/138697740-92e2a680-bd97-4535-9be4-0d65905a7ce0.png)

[2021-10-25 13:05] slimbook commented on #20
Well, could you please share terminal output? two tabs are not showing, it might show why. Thanks!

[2021-10-25 21:52] Freeplayg commented on #20
![Screenshot from 2021-10-25 17-51-49](https://user-images.githubusercontent.com/40742947/138776260-1d53e011-3973-4e3f-b166-d15b8daca208.png)

[2021-10-26 21:11] Pm38110 commented on #26
Good evening,
it works perfectly now !
Thank you

*Pascal*

Le lun. 25 oct. 2021 à 13:50, SLIMBOOK TEAM ***@***.***> a
écrit :

[2021-10-26 21:26] ehooo opened #39 "No option 'style' in section: 'CONFIGURATION'"
New style option cause error loading with old configs.

![image](https://user-images.githubusercontent.com/709565/138963271-f50fbcef-a165-4b06-a698-e8e39ff44dba.png)

[2021-10-27 17:06] SwampRabbit commented on #29
Going to throw my 2 cents in here as a Distro maintainer and packager.  The preferred (best) way is to let the Distros ensure installation is done correctly, they know how to address the python and system dependency packages, package names, file installation location issues, etc, etc.  Distro package-managers that you are trying to avoid make life simpler and faster, if installation scripts were t

[2021-10-27 17:20] SwampRabbit commented on #29
oh and another option if you want to have a way to distribute applications to as many GNU/Linux distros as possible, the best option is the OpenSUSE Build Service (OBS)

https://openbuildservice.org/
https://build.opensuse.org/

While its created by OpenSUSE it can be used to create repositories and packages for Debian, Arch, OpenSUSE, RedHat, Fedora, Ubuntu, Raspbian, Magia, etc, etc.

[2021-10-27 22:46] ehooo commented on #31
@slimbook i think that with the last PR this issue is completed.

[2021-10-28 08:38] #39 closed, assigned to nobody

[2021-10-28 08:41] slimbook commented on #31
Yes, you did a great work! (learned a lot), I will close this issue and start testing, thank you so much!!

[2021-10-28 08:41] #31 closed, assigned to ehooo

[2021-10-28 09:03] slimbook commented on #29
Wow, OpenSUSE Build Service is so interesting, thanks!
So you are saying that we should separate **src** (which would be in the main branch)
from **debian folder** (with just package building files)
and there could be a **developer's branch** (which would contain all, to make testing easier).

This should also be improved.

PD: If  you have an example repository, we would love to see it.

[2021-10-28 09:10] #26 closed, assigned to slimbook

[2021-10-28 17:28] SwampRabbit commented on #29
So how you set up and manage your repos, is really up to you, but separating out "packaging" items from the main branch has the benefit of your source tarball not including Debian, RedHat, or Arch, Flatpak, Snap, AppImage packaging files, and so on.  For example, sometimes if I am packaging something that all all those extra files that we don't need then I download the tarball, delete those files,

[2021-10-29 07:08] slimbook commented on #29
thank you!

[2021-10-29 13:46] Carlosmape commented on #29
Very interesting @SwampRabbit I will take a look OFC.
@slimbook  What should we do with the script?

[2021-10-29 14:10] slimbook commented on #29
We will keep it in de developing branch, it's very useful to test in different distros locally without uploading to the repository. I still have to structure the repository btw, but first I have to look through all the information that @SwampRabbit provided us :)

[2021-10-29 19:40] udenizdemirbilek commented on #20
Hello and thank you for this program that lets me use my 8 year old laptop!
I also encountered problems with the Accept button,
all my profiles are stuck to graphics card saving profile and I can't change the settings!
I'm attaching a video and my report file,
Also the following appears on the terminal when I click on the accept button

Lastly, I see you use Python for the program and was wonderin

[2021-10-30 21:43] BirsanStefan opened #43 "E: Unable to locate package slimbookbattery in Ubuntu 21.10"
I don't know, maybe you don't support this version or I'm doing something wrong

[2021-11-02 08:40] slimbook commented on #43
It's not yet uploaded for impish, but it will be soon

[2021-11-02 09:42] slimbook commented on #20
Hi, thanks for reporting, your issue is related to [#21 ](https://github.com/slimbook/slimbookbattery/issues/21), the testing version, which will be released soon,  should fix it. Of course you can take a look at the code and [to do list](https://github.com/slimbook/slimbookbattery/projects/1#card-71584259) ;)

[2021-11-02 17:12] slimbook commented on #29
@SwampRabbit this is our first approach to the opensuse build tool [SlimbookBattery](https://build.opensuse.org/package/show/home:Slimbook/SlimbookBattery), hope you can tell us how can we make the 'download package' link work for testing, or some advice (I've seen you have some repos there) :)

[2021-11-02 22:39] SwampRabbit commented on #29
@slimbook very nice and you had a bunch of builds complete too!

Not sure why nothing is showing up under "Download package" button.  You have it set to "Publish" and it seems to be populating repos fine
https://download.opensuse.org/repositories/home:/Slimbook/Debian_11/

I'm far from an expert with OBS, only use it for stubborn packages, or testing different builds.  MX Linux does all our own pa

[2021-11-03 08:33] slimbook commented on #29
Thank you, I'm going to try passing it to a subproject, maybe it fixes something,

Thank you, that would be very much appreciated :)

Yes! still have to watch those, I got stuck in the download package one, but I'll watch them.

If I try checking out the package (osc -A https://api.opensuse.org checkout home:Slimbook:SlimbookBattery/SlimbookBattery && cd $_) I get this error:

- 'home:Slimbook:Sli

[2021-11-03 19:49] SwampRabbit commented on #29
hmmm... I've actually never used OSC, I do everything through the web interface.

I messaged our packaging lead, it'll probably be a day or two until I get a response or he posts in here.

I'm looking at packaging intel-undervolt, should be interesting trying to get it to work with systemd, openrc, and elogind

[2021-11-03 23:01] SwampRabbit commented on #29
The MX Packaging Lead replied to me with

But it looks like you got it working already!

https://software.opensuse.org//download.html?project=home%3ASlimbook%3ASlimbookBattery&package=slimbookbattery

[2021-11-03 23:51] ehooo commented on #36
I think this issue is solved on the last version
![image](https://user-images.githubusercontent.com/709565/140234400-6bf1fe68-e3ca-4476-b2bc-6fe0f89723ad.png)

But i see that the cross is not visible on the light view.
![image](https://user-images.githubusercontent.com/709565/140234300-38cc83ff-642c-4062-8124-70fbd303c5eb.png)

[2021-11-04 08:40] oriolpiera commented on #36
Hi @ehooo

I recently updated to 4.0.3 and I can't see the "system style" flag. Could you tell me in which tab is it?

Thanks,

![image](https://user-images.githubusercontent.com/26488435/140282815-23206c04-67a6-4f99-b9f8-60079171c894.png)

[2021-11-04 09:45] slimbook commented on #36
That's true, the .deb file has not been updated yet, I'm doing it now (Also have to update images to match dark and light themes), you might have to uninstall the app to install the new updated one, because version is still 4.0.3

[2021-11-04 11:51] slimbook commented on #29
Yes, I made it but I didn't realise how,

Might have been that, thanks for helping!
I think I'm moving this issue to a discussion to talk about packaging

[2021-11-04 11:57] #29 closed, assigned to nobody

[2021-11-04 15:44] slimbook commented on #36
@oriolpiera you can try it now [here](https://github.com/slimbook/slimbookbattery/releases/tag/v4.0.3beta)!

[2021-11-04 15:52] oriolpiera commented on #36
It works!! Both themes (default and system theme) looks greate!!!

Thanks

![image](https://user-images.githubusercontent.com/26488435/140372578-31a81512-a115-40a7-af94-d6f059426f86.png)

![image](https://user-images.githubusercontent.com/26488435/140372858-40de069d-a884-4f44-9898-3dff0730390f.png)

[2021-11-04 17:36] #36 closed, assigned to slimbook

[2021-11-04 17:46] ehooo opened #48 "Github actions"
Hello,

I think may be is good idea to add a workflows on the project in order to allow pep8 checks on the PR and maybe also on the release could be added to build the deb, or other packages.

What do you think about?

I see that @MarSlimbook has remove .flake8 and a lot common files on .gitignore
There is any reason why?

Kind regards

[2021-11-04 18:05] ehooo commented on #48
https://github.com/ehooo/slimbookbattery/tree/pep8 this is a option if you like

[2021-11-05 08:12] slimbook commented on #48
Yes, I thought it would be a good idea to leave clean source code in the main branch, and work in the development branch (which has .flake8), and also creating a branch with package files, as purposed [here](https://github.com/slimbook/slimbookbattery/discussions/47#discussioncomment-1588098).

That is also a good option

[2021-11-08 15:40] #48 closed, assigned to nobody

[2021-11-08 18:57] Aminmalek commented on #21
I have the same problem on Ubuntu 20.04!

[2021-11-09 08:53] slimbook commented on #21
Hi @Aminmalek, could you please try the testing version [here](https://github.com/slimbook/slimbookbattery/releases)? It should fix the problem.

[2021-11-10 18:43] Aminmalek commented on #21
Hi, i have installed this by nothing is run and it's just a raw icon

On Tue, Nov 9, 2021, 12:23 SLIMBOOK TEAM ***@***.***> wrote:

[2021-11-11 14:11] slimbook commented on #21
@Aminmalek is the terminal output of the error above like yours?, upload it together with some screenshots if possible (may be useful too), thank you!

[2021-11-11 21:06] Aminmalek commented on #21
I have 2 kind of  errors in 2 versions, which one should I send?

[2021-11-12 09:20] slimbook commented on #21
The newest version one

[2021-11-15 08:10] slimbook commented on #43
Released new version, it should be available now.

[2021-11-15 08:10] #43 closed, assigned to nobody

[2021-11-15 08:11] #20 closed, assigned to slimbook

[2021-11-15 08:11] slimbook commented on #20
New version released

[2021-11-15 08:24] MarSlimbook opened #55 "Can't import modules with homebrew"
I have the same problem on Ubuntu 20.04!

_Originally posted by @Aminmalek in https://github.com/slimbook/slimbookbattery/issues/21#issuecomment-963475331_

[2021-11-15 08:27] MarSlimbook commented on #55
@Aminmalek could you share the new error log here?

[2021-11-19 13:14] bilalbayasut commented on #55
when running on terminal , it said
[code]

[2021-11-20 17:25] logileifs opened #56 "Taskbar icon way too big"
This is how the taskbar icon looks after the latest release (4.0.3)
![image](https://user-images.githubusercontent.com/2317815/142735511-427ee0a7-3c0d-47eb-adba-fe82b077c1ad.png)

I'm using 18.04.1-Ubuntu Budgie.
One thing I want to add as well, the old UI looked so much better, this new style is just way too much.

[2021-11-22 08:39] MarSlimbook commented on #55
Hi @bilalbayasut try installing the dependency 'libgirepository-1.0-1', it is marked as a dependency so, did you installed it from the repository using apt? In that case, which distro are you using?

[2021-11-22 09:48] MarSlimbook commented on #56
Seems that this desktop indicator panel does not resize images, we will update as soon as we find a solution. Seems that converting to svg could work. Does the off button show in the same size?

[2021-11-22 10:42] #21 closed, assigned to nobody

[2021-11-22 15:57] Aminmalek commented on #55
2021-11-22 19:23:30,330 - 665 - INFO - Intel detected
2021-11-22 19:23:30,338 - 690 - ERROR - TDP Controller not installed
in this new version(4.0.3) I can save the setting but nothing happens even brightness level doesn't change.

[2021-11-23 08:24] slimbook commented on #55
@Aminmalek, Is that the only output you get from the terminal? Could you generate a report (in the info window) and send it to us. The error of 'TDP controller not installed' does not stop the app.

[2021-11-23 13:49] bilalbayasut commented on #55
xubuntu, I gave up, ended up installing ubuntu and it worked fine. thanks for your reply

[2021-11-24 15:07] slimbook commented on #55
Well, I have not been able to reproduce this issue yet, i will leave this issue open to see if someone has the same problem.

[2021-12-10 16:56] ghost opened #57 "!!! HELP !!! GUI NOT SHOWING FULLY ON ELEMENTARYOS 5"
![Screenshot from 2021-12-10 20 57 54](https://user-images.githubusercontent.com/95931540/145611920-2780f3e4-b47a-41d5-9f35-fc872d5b6374.png)

[2021-12-12 16:15] KavinAVS commented on #56
Yes, the off button is the same size.

![Screenshot from 2021-12-12 11-14-04](https://user-images.githubusercontent.com/25111483/145720163-74995fcb-daba-45f4-a521-d6042aa953fd.png)

[2021-12-13 08:22] MarSlimbook commented on #57
Hi, can you please check if configuration file '/home/<user>/.config/slimbookbattery/slibookbattery.conf' exists?, then could you try restoring default values?
If it does not work, execute this on terminal, and share the result:

[2021-12-13 17:26] ehooo opened #58 "Lets create a bug template for bug reporting"
I think could be good idea create a [issue templates](https://docs.github.com/es/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository) for bugs.

@slimbook @MarSlimbook what do you think about? i cannot access to settings to set it up.

[2021-12-14 08:29] MarSlimbook commented on #58
Of course, it's a good idea!
I did it, it's quite basic but, it will be updated if it's required more information

[2021-12-14 14:48] slimbook commented on #56
Hi, @KavinAVS @logileifs check this [testing version](https://github.com/slimbook/slimbookbattery/releases/tag/Test).

[2021-12-14 16:23] #58 closed, assigned to nobody

[2021-12-16 09:13] ghost commented on #57
2021-12-16 14:11:42,380 - <module>:166 - INFO - Config check executed as root
2021-12-16 14:11:42,380 - main:42 - INFO - Configuration folder (/root/.config/slimbookbattery) foun
2021-12-16 14:11:42,380 - set_ownership:52 - DEBUG - Folder /root/.config/slimbookbattery
User uid=0
Folder uid=0
2021-12-16 14:11:42,380 - set_ownership:52 - DEBUG - Folder /usr/share/slimbookbattery/src/updates
User uid

[2021-12-16 09:45] MarSlimbook commented on #57
Thank you, it's using a bad configuration path, I will try to reproduce the problem.

[2021-12-16 20:21] p-himik opened #59 "Incorrect usage of AppIndicator icons"
**Describe the bug**
SlimBookBattery doesn't follow the correct usage of AppIndicator by using file paths as icon names, whereas proper icon names have to be provided. It leads to the indicator icon not being present or being just a placeholder in some circumstances, e.g. when using https://git.sr.ht/~steef/snixembed

The relevant code where such file paths are created: https://github.com/slimbook

[2021-12-24 16:22] smiddy opened #60 "sudocommands.py autostart crashes on Ubuntu 21.10 and 20.04"
**Describe the bug**
Start Ubuntu 21.10 with installed (and autostarted) Slimbook battery

**To Reproduce**
Steps to reproduce the behavior:
1. Install slimbook
2. Login to your account
3. Ubuntu notifies about a crash (every time)
4. App works nevertheless

**Desktop (please complete the following information):**
 - OS: Xubuntu 64 bit
 - Version: 21.10
 - Desktop Environment: XFCE 4.16

**Additio

[2022-01-09 10:48] baermathias opened #61 "The application Slimbook Battery has closed unexpectedly (Ubuntu 20.04.3)"
**Describe the bug**
Crashes on startup with the following message:

![Screenshot from 2022-01-09 11-47-53](https://user-images.githubusercontent.com/45003352/148679019-1003eb89-2439-4ae2-96d4-4c06d27cdec9.png)

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04.3

**Expected behavior (Optional)**
not to crash

[2022-01-10 16:23] ehooo commented on #61
Hello @baermathias
Could you paste the fully logs?
It's looks like the user witch run the process don't have config file for the app.

[2022-01-11 17:20] baermathias commented on #61
It actually looks the same as this one https://github.com/slimbook/slimbookbattery/issues/60
The crash report appears in a GUI and there not much additional info, I also can't copy it, only screenshot.

[2022-01-12 12:46] MarSlimbook commented on #61
Hi, @baermathias, could you please check the content of /home/<your_user>/.config/slimbookbattery/slimbookbattery.conf?
Share the content of the file, then try to execute /usr/share/slimbookbattery/src/check_config.py (as sudo) and share the log of the execution again.
It might have been an error in the creation of the file.

[2022-01-14 06:51] baermathias commented on #61
[code]

[code]

[2022-01-16 08:13] smiddy commented on #60
The same problem occurs on Ubuntu 20.04.3

[2022-01-24 06:50] gentooza opened #62 "appIndicator/systray icons size for big screen resolutions"
**Describe the bug**
Hi, I find the systray icons of slimbookbattery too big in the system tray, when using Mate in a slimbook executive 14 computer.
(2880x1800px)
A workaround for me is to manually overwrite: /usr/share/slimbookbattery/images/indicator/... png icons from 96x96px to 20x20px.
But I guess it should be adaptable. (vectorial?)

**To Reproduce**
Steps to reproduce the behavior:
I manua

[2022-01-24 14:08] MarSlimbook commented on #61
It seems correct, so error might be at the configuration file path detection.

[2022-01-24 14:40] slimbook commented on #56
Referenced to #62

[2022-01-24 14:40] #56 closed, assigned to nobody

[2022-01-24 14:46] slimbook commented on #62
Hi @gentooza, can you try this [testing version](https://github.com/slimbook/slimbookbattery/releases), it should fix this issue.

[2022-01-24 14:58] slimbook commented on #59
You were right, I modified it to use icon names, however, I'm not sure if it is compatible with https://git.sr.ht/~steef/snixembed
https://github.com/slimbook/slimbookbattery/blob/5a6d1e4edc987275ea3f328ecd467d278c943fdf/src/slimbookbatteryindicator.py#L53-L58
The .deb file can be found [here](https://github.com/slimbook/slimbookbattery/releases).

[2022-01-24 15:06] slimbook commented on #61
Moving to #60

[2022-01-24 15:06] #61 closed, assigned to nobody

[2022-01-26 07:00] gentooza commented on #62
Hi!

Sorry, I didn't see #56

Yes, with the testing version icons are now 24x24 and fit perfectly.
When will be public in repo?

 thanks a lot!

[2022-01-28 22:14] dkocich commented on #55
I have the same issue, start in the terminal shows only an import problem even though I installed the APT package. I guess it is caused by multiple versions of python3 in the system.

❯ slimbookbattery
Traceback (most recent call last):
  File "/usr/share/slimbookbattery/src/slimbookbatterypreferences.py", line 21, in <module>
    import gi

[2022-01-30 17:17] smiddy opened #63 "App Icon missing with update to 4.0.4"
**Describe the bug**
Since the update to version 4.0.4, the icon symbols do not show anymore. The app is still running fine. And there is a blank place where it should show the current setting.
With the testing version [https://github.com/slimbook/slimbookbattery/releases/tag/Test](https://github.com/slimbook/slimbookbattery/releases/tag/Test) the problem is still there

**To Reproduce**
Steps to

[2022-01-31 20:16] sannacho opened #64 "No sincroniza con el modo de la CPU y no carga el idioma"
La actualización de la última versión (4.0.4) no sincroniza el modo de bateríoa con el modo TDP de la CPU
Además se ha perdido la internacionalización de la aplicación (aparece en inglés estando el escritorio en castellano)

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Version: 20.04
 - Desktop Environment: Gnome

[2022-02-04 16:41] FedericoCalzoni opened #65 "Issue CPU scaling on AC."
**Describe the bug**
When laptop is in AC, due to the absence of a parameter:
CPU_SCALING_GOVERNOR_ON_AC =
which is written by slimbookbattery inside the tlp.conf file, the governor cannot be changed.

This is a problem because it makes it impossible to set a governor for when it is in AC and when it is in BAT.
This is because tlp.conf is the last configuration file to be read, and overwrites the

[2022-02-04 17:01] FedericoCalzoni commented on #65
In any case the problem can be solved by modifying the 3 slimbookbattery configuration files manually:

They are located in the directory .config/slimbookbattery/custom/

[2022-02-06 11:20] p-himik commented on #59
I think it works, thanks!

[2022-02-06 11:20] #59 closed, assigned to slimbook

[2022-02-14 17:51] Rank-N-Tensor opened #66 "Unable to resize window and access options in the bottom"
Hello Slimbook team! I have been using your application for over a year now on my ubuntu 20.04 machine(14'' screen), recently with the new update, I am unable to select the options and slimbook seems to have no effect on my battery levels
![Screenshot from 2022-02-14 23-17-33](https://user-images.githubusercontent.com/85181559/153918754-1acfa5cc-f749-432d-8711-05d938f1bc29.png)
as you can see, I a

[2022-02-15 08:46] MarSlimbook commented on #66
Hi @Rank-N-Tensor, could you open it in a terminal? The output should show your screen resolution if it is accessible.

[2022-02-15 14:22] Rank-N-Tensor commented on #66
my sincerest apologies, I am able to move the window with the keyboard (Alt+F7 and arrow keys) and can access the options but I'm still unable to resize it. Furthermore, slimbook seems to have no effect on my battery. earlier it would show over 10 hours remaining at 99% and now it's barely 2 hours( same as without slimbook).
![Screenshot from 2022-02-15 19-50-31](https://user-images.githubusercont

[2022-02-16 08:40] MarSlimbook commented on #66
Okey, good to know, however, the app should resize automatically, I haven't been able to reproduce this error yet.
I need to check the terminal output to see if something is not working:
- Open a terminal (Ctrl+Alt+T)
- Execute the command 'slimbookbattery' (The app should open)
- Select a different battery mode in the app
- Apply changes

After the app is closed, check the terminal output, It may

[2022-02-17 14:56] Rank-N-Tensor commented on #66
apologies for being late, here you go!
[code]

[2022-02-17 14:57] Rank-N-Tensor commented on #66
the problem here is that earlier, slimbook would show nearly 8-10 hours with the energy saving mode, now its down to 2 hours, for a 100% charge.

[2022-02-17 17:19] Rank-N-Tensor commented on #66
another important detail is that im using the 5.11 kernel , as opposed to the 5.13( because of the pixelated screen issue).

[2022-02-20 05:18] pranav-deo commented on #57
Hey, I encountered the same issue on Ubuntu 18.04.6 LTS after installing slimbookbattery through ppa.

This was indeed a path configuration error and was solved by changing path of tlp config file in **line 813** of  `/usr/share/slimbookbattery/src/slimbookbatterypreferences.py`  from `/etc/tlp.conf` to `/etc/default/tlp`.

It seems that the configuration file slimbookbattery is looking for reside

[2022-02-21 09:17] MarSlimbook commented on #57
@pranav2812 which version of TLP have you got? That directory changed since version 3.1. Have you tested if changes are being applied? I don't think changing that only line fixes the problem. We are doing some tests to find out what is going on.

[2022-02-21 15:27] pranav-deo commented on #57
My system has TLP 1.1 installed currently which I believe got installed when I installed slimbookbattery through the provided PPA for bionic. I'm not sure if the OP faces same issue as I did, (symptom seems to be same), but the path change solved the issue for me. After that, the program seems to be working as intended overall, I'm able to access the GUI and changes apply and persist.

[2022-02-21 15:28] MarSlimbook commented on #66
That is a big difference, we will try older versions to check duration. Are you using TLP 1.3?

[2022-03-03 23:40] ZadenMaestas commented on #63
I'm having this same issue, except it is fixed when I start slimbook battery with sudo

I'm assuming this is a issue with permissions, where are the icons for slimbook stored?

[2022-03-04 15:15] MarSlimbook commented on #63
The icons are in /usr/share/slimbookbattery/images/indicator, @TheProtonDev do you also use Xubuntu?

[2022-03-04 17:25] ZadenMaestas commented on #63
I use ArcoLinux XFCE, thanks, I'll try a few things and see if it fixes

Edit: I tried messing with permissions for that directory, no luck

I'm not the most knowledgeable power user, I just know my way around some stuff, so I'm sure there's a fix I'm not thinking of

[2022-03-05 13:45] Rank-N-Tensor commented on #66
my sincerest apologies for not following up because I had a major exam. yes I'm using TLP 1.3.1
[code]

furthermore, I'm back to using the `5.13.0-30-generic kernel`. Battery life has not improved :(.

![Screenshot from 2022-03-05 19-11-25](https://user-images.githubusercontent.com/85181559/156886039-ca706ced-e0d3-4168-a209-4caf196e7e75.png)

[2022-03-06 10:10] Rank-N-Tensor commented on #66
hello, ill close this particular issue as the main topic has been solved and open a new one specific to the current issue

[2022-03-06 10:10] #66 closed, assigned to nobody

[2022-03-06 10:22] Rank-N-Tensor opened #67 "Slimbook is not saving battery."
**DESCRIPTION**
As the aforementioned title suggests, slimbook is not affecting battery saving. the time remaining is still the save as without slimbook ( about 1.5-2 hours with full charge)

**Evidence**
Steps to reproduce the behavior:
1. open terminal `Ctrl+Alt+T`
2. type `slimbookbattery`
3. select "energy Saving"
4. Restart System

**Desktop**
 - OS:  Ubuntu 20.04 (I deleted Ubuntu and reinst

[2022-03-06 15:39] Rank-N-Tensor commented on #67
Additionally, I found this warning in the TLP documentation.
![Screenshot from 2022-03-06 19-44-07](https://user-images.githubusercontent.com/85181559/156930293-212e56d5-6e19-44cc-807c-8f0c43040605.png)

i am running ubuntu 20.04.4 with the 5.13 kernel. It was only after the kernel update that this issue arose.

[2022-03-07 11:10] slimbook commented on #67
Thanks for sharing, have you tried the solution mentioned, or maybe a higher / lower kernel version? We will also test it to compare.

Does this happen to you?

[2022-03-07 17:07] Rank-N-Tensor commented on #67
Hi @slimbook, thanks for the prompt response. I did try the 5.11 kernel earlier, to no avail. My system (thankfully) does not freeze or reboot. although, earlier, the screen would become pixelated and i would be forced to shut down the laptop and restart it.

I havent implemented the solution as of now as im working some other sensitive projects and i am worried about unexpected behaviour. please

[2022-03-09 11:14] smiddy commented on #63
I can confirm that executing

```sudo python3 /usr/share/slimbookbattery/src/slimbookbatteryindicator.py```

solves the problem.

[2022-03-09 11:20] smiddy commented on #63
Recursively giving read access of `usr/share/slimbookbattery/images` to the user does not solve the problem

[2022-03-09 11:23] smiddy commented on #63
@TheProtonDev @MarSlimbook, do you get the crashes as described in #60 ? This might be the source of the problem, if the program does get correct privileges.

[2022-03-09 16:48] ZadenMaestas commented on #63
@smiddy

I do not get any obvious errors, here's the logs outputted to the terminal when I start the program and hit apply to get the tray icon

[code]

[2022-03-09 17:03] slimbook commented on #63
@smiddy I think those are different issues, can you drop down the menu? (Even if you don't see the icon) might have something to do with the Xface desktop environment.

@TheProtonDev could you look if brightness changes after you log in? Or if it is set when you boot?

[2022-03-09 17:26] smiddy commented on #63
Except for the tray icon, the manager works

________________________________
From: SLIMBOOK TEAM ***@***.***>
Sent: 09 March 2022 18:04:19
To: slimbook/slimbookbattery
Cc: Schmidt Markus Johann; Mention
Subject: Re: [slimbook/slimbookbattery] App Icon missing with update to 4.0.4 (Issue #63)

@smiddy<https://github.com/smiddy> I think those are different issues, can you drop down the menu? (Even

[2022-03-10 16:39] slimbook commented on #67
I @Rank-N-Tensor, It's okey. Kernel 5.14 oem seems to work better with tlp and intel processors, lowering consumption, but we still need to do some research.
I'm afraid I can't help you much with DKMS or Secureboot.

[2022-03-10 16:51] Rank-N-Tensor commented on #67
understood, thank you for your time.

[2022-03-25 12:18] STrRedWolf commented on #63
Throwing my two cents in here.  Same issue -- XUbuntu (XFCE) and the icon doesn't show... but click on the blank and the menu pops up, to where I can work the system or open the advanced window.

[2022-03-28 10:22] slimbook commented on #63
Hi, here you a have a [beta version](https://github.com/slimbook/slimbookbattery/releases), which has been updated recently. Try it please, thank you.

[2022-03-28 11:04] STrRedWolf commented on #63
The icon shows on the 4.0.5 beta.

[2022-03-31 07:47] smiddy commented on #63
I can confirm that the issue is resolvedwith the beta version.

[2022-04-09 22:32] mpoder opened #70 "Not enough values to unpack on Fedora 36"
When running the Slimbook Battery application, we get a weird window with a width of 0 and a height of 0. If you expand the window to a more reasonable size, there is not anything else to see.

[code]

This happens when using both Wayland and X11.
Operating system is Fedora 36 - which - at the time of creating this bug report - is in beta.

[2022-04-10 20:42] ehooo commented on #70
Hello @mpoder
Do you have xdpyinfo installed?

[2022-04-11 11:15] #57 closed, assigned to nobody

[2022-04-11 13:00] #62 closed, assigned to nobody

[2022-04-11 13:00] #64 closed, assigned to slimbook

[2022-04-11 13:01] #63 closed, assigned to slimbook

[2022-04-11 13:45] slimbook commented on #55
Hi, could you check if you have installed python3-gi?

[2022-04-12 13:16] mpoder commented on #70
Hello @ehooo
I... I did not have xdpyinfo installed, that was the reason it did not show up. Thanks!

Your suggestion did get the GUI working, but I was a little sad to see that I only had the General tab and nothing else really worked (including the app indicator, because it is built onto Ayatana, which is not really used much in Fedora as it appears). So currently the application does not seem v

[2022-04-12 15:21] slimbook commented on #70
Hello @mpoder,  I've made some changes in order to improve compatibility with Fedora, [here](https://github.com/slimbook/slimbookbattery/releases/tag/Fedora) there is a way to test it in fedora. There are some dependencies listed in the description, it would be great if you could check this out.

[2022-04-14 15:32] mpoder commented on #70
Hello @slimbook! Thank you for the Fedora version. This helped a lot + the additional dependencies came in handy as well. I actually seem to be getting the same error as I got before.

The error is in the file `slimbookbattery/src/slimbookbatterypreferences.py` line 1354:
[code]

I also think I figured out the problem. My Slimbook on Fedora is using the (new) `amd-pstate` governor, which it seems

[2022-04-18 12:54] HamsterRICK commented on #67
I seem to be having the same issue, as described here. It doesn't matter what option I have select on menu the only thing it seems to be affecting is the backlight, and nothing else on the system, occasionally I get the battery meter to saying 6 Hours of battery life left, but it then goes back to the normal 2 hour left as if Slimbook Battery was not running.
I have tried running it on Xubuntu 20.

[2022-05-03 18:20] Nationalgeographic opened #73 "" you have not installed Linux-tools for your kernel""
**Describe the bug**
after updating Slimbookbattery from the AUR (I'm using Manjaro) I get a prompt, even tho I got the demanded "linux-tools-meta" package, see point 4. to reproduce. If I cklick on "install" nothing happens, like opening pamac/pacman package manager, or someting else.
 Slimbookbattery-gui also just show me the "general" tab.

**To Reproduce**
Steps to reproduce the behavior:
1. G

[2022-06-18 14:53] w-user opened #74 "configparser.NoSectionError: No section: 'CONFIGURATION'"
Error arises on system boot with "Crash report" prompt

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04.4 LTS
 - CPU: AMD Ryzen 7 pro 5850u

**Screenshots**
![Screenshot from 2022-06-18 17-50-20](https://user-images.githubusercontent.com/82257570/174443827-c64986e5-9d21-4e0a-a7f3-b426dc490b4a.png)

How can I fix it? I'd like to fix it myself with your guidance if you w

[2022-06-20 08:37] slimbook commented on #74
Hi @w-user, is the preferences window showing correctly?
This is usually caused because the configuration file does not exist. Which can be solved restoring default values in  preferences window.
This file is in /home/<user_name>/.config/slimbookbattery/slimbookbattery.conf

[2022-06-20 08:45] slimbook commented on #73
Hi @Nationalgeographic, this is not fully implemented for arch yet, you can select the  'dont' show again checkbox' and Cancel button, It's just a recommendation, the app should work as always.
There is also an error caused by the configuration, try restoring default values.

[2022-06-20 08:45] #70 closed, assigned to nobody

[2022-06-20 08:48] slimbook commented on #55
Can't repro

[2022-06-20 09:00] dkocich commented on #55
@slimbook I tried again with beta
![image](https://user-images.githubusercontent.com/6165660/174565151-8a4b5006-c94b-493f-827d-55cac22869ab.png) - still the same issue appears in the terminal

![image](https://user-images.githubusercontent.com/6165660/174565289-846bef5f-79fc-4de2-8855-9b093d27068c.png)

i see pytgon-gi in my system packages
![image](https://user-images.githubusercontent.com/616566

[2022-06-20 09:57] slimbook commented on #55
Hi, so you are using Homebrew.
Check this: [Hebrew Docs](https://docs.brew.sh/Homebrew-on-Linux) and [Homebrew-and-Python](https://docs.brew.sh/Homebrew-and-Python)
Specially check if you did this:

[code]
This [StackOverlfow Issue](https://stackoverflow.com/questions/63246697/importing-modules-installed-via-homebrew-into-python) might also be helpful.
I'll try to take a closer look when I have so

[2022-06-22 04:34] w-user commented on #74
The configuration file was in the place and even [CONFIGURATION] section was presented in the file. I tried to restore defaults and crash went away. Not able to reproduce crash now.

[2022-06-22 08:30] slimbook commented on #74
So it could be a file permission error, this button also gives reading permission to configuration file. Is everything working correctly now?

[2022-06-27 12:53] wujastyk opened #76 "Two batteries (Thinkpad T580)"
**Is your feature request related to a problem? Please describe.**

The Thinkpad T580 has two batteries: one internal and one removable (the usual kind).  As far as I can see, slimbookbattery only addresses the internal battery.

**Describe the solution you'd like**

Slimbookbattery to recognize multiple batteries.

Thanks!

[2022-07-03 15:00] w-user commented on #74
Yes, everything seems to be working fine. Thank you.

[2022-07-03 15:00] #74 closed, assigned to nobody

[2022-08-21 01:16] geraldhoarau14 opened #77 "Slimbook breaks grub menu after installation (Linux Mint)"
**Describe the bug**
The slimbook battery installation breaks my grub boot menu. It replaces my linux mint with ubuntu from grub menu. I have tried to reinstall grub, but nothing works.

**To Reproduce**
Steps to reproduce the behavior:
1. Install LInux MInt
2. Login into LInux MInt
3. Install slimbook battery
4. restart the computer
5. LInux mint has been replaced by Ubuntu (broken)

**Desktop (p

[2022-08-22 14:02] slimbook commented on #77
This is new, have you installed linux-tools after slimbookbattery installation? It seems more like a linux-mint issue.
About the grub, you can try boot-repair:
[code]
Take a look at this:
https://forums.linuxmint.com/viewtopic.php?p=1853804#p1853804

[2022-08-22 15:56] ERROR-404-NULL-NOT-FOUND opened #78 "configparser.NoOptionError: No option 'saving_tdpsync' in section: 'TDP'"
I'm on Arch Linux, installing the `slimbookbattery` package from the AUR.
Whenever I try to run the program, it shows the error:
[code]
And displays a window without any options other than `System Style`, `Cancel`, `Restore Default Values`, and `Accept`

[2022-08-22 16:02] slimbook commented on #78
Try restoring default values, that should fix configuration issues.

[2022-08-22 16:13] ERROR-404-NULL-NOT-FOUND commented on #78
Clicking `Restore Default Values` Just made the window shrink to a tiny, maybe 4x4 pixel black window, and when I killed and restarted it, absolutely nothing changed.

[2022-08-23 08:18] geraldhoarau14 commented on #77
Thank you very much for your reply. I haven't installed the linux-tools. I will try to install it before the slimbook battery installation next time.

I'm not sure which side is responsible for the issue, but it happened to me twice after the slimbook battery installation. I was able to reboot the system and login without any problems before the installation. But Grub has become corrupted after th

[2022-08-23 09:15] geraldhoarau14 commented on #77
I have reinstall slimbook battery, and it didn't break grub this time. This is what I make differently.

 - I have installed the linux-tools before the installation.
 - I have installed the app directly from the .deb package rather than installing from the package manager by adding the repository manually.

[2022-08-23 12:15] ghost opened #79 "Hello!"
I got Kernel Panic after installing slimbook battery.

I started it in "maximum performance".

Can you help me please?![image](https://user-images.githubusercontent.com/109180382/186155429-4e2d75ff-6819-4c2f-97d0-4bf2545f9392.jpeg)
![image](https://user-images.githubusercontent.com/109180382/186155472-3567c5ac-c216-41cb-a285-e7259aa4d3e9.jpeg)

[2022-08-24 07:59] slimbook commented on #77
Thank you for the details,  however, I find no relation to slimbookbattery (since it has nothing to do with grub) so I'm closing this issue.
If someone finds a similar issue I will reopen it.

[2022-08-24 07:59] #77 closed, assigned to nobody

[2022-08-24 08:10] slimbook commented on #79
Hello, did you install linux-tools from a window when you opened the app?
Try using another kernel. It seems that when you installed the app, your initframs updated too, and that update seems to be broken, Try this: https://forums.linuxmint.com/viewtopic.php?p=1855990#p1855990 to fix it.
Hope you find a solution soon.

[2022-08-25 01:09] doctorlard opened #80 "Laptop reboots as "reboot" user, cron email sent with error in sudocommands.py"
**Describe the bug**

When the laptop reboots, the cron daemon (systemd?) tries to run something in slimbookbattery as the special "reboot" user, and an exception is thrown in line 140 of `sudocommands.py`. The root source is because the reboot user does not have a slimbook config file in its `HOMEDIR` (because it does not have a HOME directory defined), so the `config` set up at line 79 silently

[2022-08-25 14:35] rohsaurus opened #81 "Application won't run: ImportError: libffi.so.7: cannot open shared object file: No such file or directory (Manjaro XFCE)"
**Describe the bug**
I am unable to launch the program because the application requires libffi.so.7 when I have libffi.so.8.

**To Reproduce**
Type in slimbookbattery into the terminal and attempt to run it.

**Desktop (please complete the following information):**
 - OS: Manjaro Linux
 - Version: Rolling
 - Desktop Environment: XFCE 4.16

**Expected behavior (Optional)**
The program is supposed t

[2022-08-25 21:15] ehooo commented on #76
Hello @wujastyk

This project use as backgroud [TLP](https://github.com/linrunner/TLP)

I think you need install `tp-smapi-dkms` and `acpi-call-dkms` as is describe in [the arch linux doc](https://wiki.archlinux.org/title/Talk:TLP)

[2022-08-26 07:09] slimbook commented on #73
Removed window in version 3.0.8

[2022-08-26 07:09] #73 closed, assigned to nobody

[2022-08-26 07:25] slimbook commented on #60
#80

[2022-08-26 07:25] #60 closed, assigned to slimbook

[2022-09-01 11:20] slimbook commented on #79
HI, we have received s a similar issue mentioning that it happens when high performance mode is set, and then reboot. Does this  match your situation? In that case it's possible that it has something to do with Nvidia settings.
Try booting in kernel recovery mode.

[2022-09-05 20:06] Zeit08 opened #83 "Fedora .rpm package"
Hi, that's a nice app and I am wondering how it plays with Fedora 36 battery optimizations. In the future would it be possible to test it on Fedora or it does not make much sense because of conficts?

[2022-09-06 20:21] UbayGD commented on #83
Hi @Zeit08

I don't know if you have seen it but there is a manual way to generate an rpm package for Fedora
https://github.com/slimbook/slimbookbattery/releases/tag/Fedora

I haven't tried it (and I should) but you can try it.

[2022-10-03 18:01] sangorys opened #86 "polkit policy asks a password on Manjaro"
**Describe the bug**
when opening the app, we get a message box to ask a root password

**To Reproduce**
Open the app or change the config

**Desktop (please complete the following information):**
 - OS: Manjaro
 - Version: 22.0.0 Sikaris
 - Desktop Environment: cinamon

**Expected behavior (Optional)**
No password

**Screenshots**
(lazy, sorry)

**Additional context**
I have found the fix :
The i

[2022-10-09 08:41] thetuxinator opened #87 "Danger! Warning! RPM tries to remove "/" upon uninstall !!!"
On Mageia 8 (which normally behaves quite same as on any other rpm distro) uninstalling the rpm gives the following error output:

Entfernen des Pakets slimbookbattery-4.0.5beta-2.noarch
      1/1: slimbookbattery-4.0.5beta-2.noarch wird entfernt
                                 ########################################################################################################Warnung: Verzeic

[2022-11-06 11:25] siddhpant opened #88 "Restore TLP config when turned off"
**Is your feature request related to a problem? Please describe.**
Turning off Slimbook Battery (SBAT henceforth) doesn't restore my previous TLP settings and neither does it turn it on. I expected SBAT to pass control to TLP solely when I turn SBAT off, rather than stop power management in the laptop altogether.

**Describe the solution you'd like**
Turn on TLP and restore old config when I turn

[2022-11-07 08:41] slimbook commented on #88
That's a good request, there should be a backup copy of your old custom TLP settings, to leave the system as it was when application is turned off.  I'll try to implement it soon.

There is a setting on each mode that does this, so if the switch is off, when you click the accept button it will override that parameter with the selected setting. When you install the app default settings are shown, m

[2022-11-07 08:59] siddhpant commented on #88
I only see the General tab on 4.0.4. I installed the latest from repo*, and now I can see the options.

I guess it's due to the below keyerror which was fixed:
[code]

\* There are some problems with deploy script, I will try to send a fix.

[2022-11-07 10:46] siddhpant commented on #88
Also, is there any way to set default profile (or settings to apply automatically when on AC)?

[2022-11-07 11:06] slimbook commented on #88
Do you mean this [default tlp settings](https://github.com/linrunner/TLP/blob/main/tlp.conf) which has all params commented?
If not, there is a button that says "restore default values" which sets our default settings for each mode.
You can see them at /usr/share/slimbookbattery/default/, the three files contain default setting for each mode, sorry for not having translated the names,  ahorrodeene

[2022-11-07 11:14] siddhpant commented on #88
I mean when I connect AC, can SBAT automatically switch settings / mode (like change to high performance), like how TLP automatically changes settings and governor when I connect charger?

np, and thanks!

[2022-11-07 11:14] slimbook commented on #88
The only settings applied on AC and BAT are the ones in the second column, but we listen to any requests about adding 'ac only' parameters, there is always room for improvement.

[2022-11-07 11:22] slimbook commented on #88
Now I understand.
That's because there are params that only act when batt is connected, for example, the governor settings.
In this case, we only set the ones which act when battery is used, so, once you connect the ac, governor will switch to performance and stop using the battery settings (1st column).
You can check it with `sudo tlp-stat -p`

[2022-11-07 11:43] siddhpant commented on #88
Edit: Moved to #90.

<details>

<summary>Click here to uncollapse original comment</summary>

It doesn't change when I connect AC. I will use monitor mode of `auto-cpufreq` to show this (since it uses an update loop and shows battery status).

I set energy saving mode, and the output is as below which is expected (ignore suggestion):

![image](https://user-images.githubusercontent.com/25429745/200

[2022-11-07 12:12] siddhpant opened #90 "Regarding changing settings on connection to AC"
_Originally posted by me in https://github.com/Slimbook-Team/slimbookbattery/issues/88#issuecomment-1305484243._

_Since it was too off-topic for that issue, hence created a new one. This is a continuation of that conversation._

---

It doesn't change when I connect AC. I will use monitor mode of `auto-cpufreq` to show this (since it uses an update loop and shows battery status).

I set energy sa

[2022-11-07 13:05] slimbook commented on #90
I see, in my tests does not happen, can you attach the file /etc/tlp.conf please?

[2022-11-07 13:19] siddhpant commented on #90
https://gist.github.com/siddhpant/86b13502b7787307baf526797b9297ff

[2022-11-08 15:49] slimbook commented on #90
Try using the restore default values button, accept changes, and check that CPU_SCALING_GOVERNOR_ON_AC parameter is not empty.

[2022-11-08 16:05] slimbook commented on #65
#85

[2022-11-08 16:05] #65 closed, assigned to nobody

[2022-11-10 11:56] slimbook commented on #90
I've detected that this happens only on low config mode, I'm working to fix this.

[2022-11-10 12:17] slimbook commented on #90
If you don't want to wait for the update, you can update the default configuration locally as in the  [commit](https://github.com/Slimbook-Team/slimbookbattery/commit/36d7970c5d54cc8c0332b5f5497280195a3f58a8), and restore values.
/home/(user)/.config/slimbookbattery/default/ahorrodeenergia

[2022-11-10 14:26] siddhpant commented on #90
Hello, sorry for replying late.

I restored the default values, and checked. It is indeed empty.

[code]

I'm not sure what this means. If you are saying it won't happen if I am on other modes like balanced and max perf, then that is incorrect since it happens in it too.

[code]

And yeah, I am on an AMD laptop.